@import "./styleindex.scss";

// Pagina de decoracion de textos
main{
    display: block;

    p {
        margin: 3rem 5rem;
        font-size: 25px;
        line-height: 3rem;

        color: white;
        background-color: $colorTexto;
        padding: $margen * 3;
        border-radius: $radioBorde;

        code { font-size: 27px; }
        span { 
            font-size: 27px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: $colorAmarillo;
        }
    }
}

.Texto1 { text-decoration: underline $colorRojo; }
.Texto2 { text-decoration: underline dotted $colorRojo }
.Texto3 { text-decoration: underline wavy $colorRojo; }
.Texto4 { text-decoration: underline overline $colorRojo; }
.Texto5 { text-decoration: underline dashed $colorRojo; }
.Texto6 { text-decoration: underline double $colorRojo; }