@import "./styleindex.scss";

// Variables extra
$view: 70vw;

$colorAmarilloOscuro: #9c6300;
$colorRojoOscuro: #741212;
$colorVerdeOscuro: #588b19;
$colorAzulOscuro: #003fa3;

// Pagina transiciones
main{
    display: block;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        margin: $margen;
        width: auto;
    }

    figure{
        width: 600px;
        height: 300px;
        border-radius: $radioBorde;
        margin: 2rem $margen;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $colorTerciario;
    
        code{
            padding: 0.8rem;
        }
    }
}

// Clases individuales y su respectiva animaciones
// Figura uno
.Figura1 { 
    animation-duration: 5s;
    animation-name: AnimUno;
    animation-direction: normal;
}

@keyframes AnimUno {
    from { background-color: $colorAmarillo; }
    to { background-color: $colorAmarilloOscuro; }
}

// Figura dos
.Figura2 { 
    background-color: $colorRojo;

    animation-duration: 2s;
    animation-name: AnimDos;
}

@keyframes AnimDos {
    0% { transform: skewX(0deg); }
    50% { transform: skewX(45deg); }
    0% { transform: skewX(0deg); }
}

// Figura tres
.Figura3 { 
    animation-duration: 5s;
    animation-name: AnimTres;

    &:hover{
        animation-play-state: paused;
    }
}

@keyframes AnimTres {
    50% { 
        transform: rotate(180deg); 
        background-color: $colorVerde;
    }
}

// Figura cuatro
.Figura4 { 
    background-color: $colorAzul;

    animation-duration: 7s;
    animation-name: AnimCuatro;
    animation-fill-mode: forwards;
}

@keyframes AnimCuatro {
    50% { transform: scale(1.3); }
    100% { transform: scale(0.6); }
}

// Figura cinco
.Figura5 { 
    background-color: $colorAmarillo;

    animation-duration: 2s;
    animation-name: AnimCinco;
    animation-iteration-count: 5;
}

@keyframes AnimCinco {
    50% { 
        width: 800px;
        background-color: $colorRojo; 
    }
}

// Figura seis
.Figura6 { 
    background-color: $colorVerde;

    animation-duration: 4s;
    animation-name: AnimSeis;
    animation-iteration-count: infinite;
}

@keyframes AnimSeis {
    20% {
        transform: skewY(-10deg);
        background-color: $colorVerdeOscuro;
    }
    40% {
        transform: skewY(10deg);
        background-color: $colorVerde;
    }
    60% {
        transform: skewY(-10deg);
        background-color: $colorVerdeOscuro;
    }
    80% {
        transform: skewY(10deg);
        background-color: $colorVerde;
    }
}