@import "./styleindex.scss";

// Pagina grid
main {
    display: block;

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;

        figure {
            height: 500px;
            width: 500px;
            border-radius: $radioBorde;

            display: flex;
            align-items: center;
            justify-content: center;

            p { 
                padding: 0 $margen;
            }
        }
    }
}

// Clases
.Item {
    height: 90%;
    width: 90%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    padding: 5px;

    border: 2px solid $colorNegro;
    border-radius: $radioBorde;
}

.G1 {
    background-color: $colorAzul;
    display: grid;
    padding: $margen;
    grid-template-columns: 1fr 1fr; // 1fr es que toma el espacio disponible y lo divide equitativamente
    grid-template-rows: 1fr 1fr;
}

.G2 {
    background-color: $colorVerde;
    display: grid;
    padding: $margen;
    grid-template: 1fr 1fr / 1fr 1fr;
    
}

.G3 {
    background-color: $colorVerde;
    display: grid;
    padding: $margen;
    grid-template: 110px 110px / 110px 110px;
}

.G4 {
    background-color: $colorAzul;
    display: grid;
    padding: $margen;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 2px; // Espacio entre objetos
}

.G5 {
    background-color: $colorAzul;
    display: grid;
    padding: $margen;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 3fr 1fr;
    column-gap: 10px;
    row-gap: 2px;
}

.G6 { // Es una forma limitada de poner los objetos
    background-color: $colorVerde;
    display: inline-grid;
    padding: $margen;
    
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr ; // Grid: 5x5
    
    grid-template-areas: 
        "obj1 obj1 obj1 obj6 obj6"
        "obj2 obj2 obj2 obj7 obj7"
        "obj2 obj2 obj2 obj7 obj7"
        "obj4 obj4 obj4 obj7 obj7"
        "obj3 obj3 obj3 obj3 obj5";
}

#Obj1 { grid-area: obj1; }
#Obj2 { grid-area: obj2; }
#Obj3 { grid-area: obj3; }
#Obj4 { grid-area: obj4; }
#Obj5 { grid-area: obj5; }
#Obj6 { grid-area: obj6; }
#Obj7 { grid-area: obj7; }