@import "./styleindex.scss";

// Pagina de posiciones
main {
    display: block;

    h1 {
        margin: $margen;
    }

    section {
        margin-bottom: 20rem;
        margin-top: 10rem;

        display: flex;
        align-items: center;
        justify-content: center;

        figure {
            width: 200px;
            height: 200px;
            border-radius: $radioBorde;
            // rgb(56, 56, 56)
            background-color: $colorTerciario;
            box-shadow: 15px 15px 10px black;

            display: flex;
            align-items: center;
            justify-content: center;
    
            code {
                color: $colorBlanco;
            }
        }
    }
    
}

.Imagen1 .Imagen2 .Imagen3 {
    box-shadow: 5px 5px 10px black;
}

.Imagen2 {
    position: relative;
    bottom: -10rem;
    left: 8rem;
    background-color: $colorAzul;
}

.Imagen3 {
    position: absolute;
    top: 10rem;
    right: 8rem;
    background-color: $colorVerde;
}

.Imagen4 {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 12rem;
    left: 5%;
    background-color: $colorRojo;
}

.Imagen5 {
    width: 100px;
    height: 100px;
    position: sticky;
    top: 400px;

    background-color: $colorAmarillo;
}